<form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" class="col-12 mt-3 sign-up-form">

  <h5 class="form-title mb-3">Récupération de compte</h5>

  <mat-form-field appearance="outline" class="col-12">
    <input required type="email" matInput id="email" formControlName="email" name="email" placeholder="Email">
    <mat-icon matSuffix [ngClass]="changeIconColor('email')">check_circle</mat-icon>
  </mat-form-field>

  <button type="submit" class="mb-2" [disabled]="!resetPasswordForm.valid" mat-flat-button color="primary"
    style="padding: 1.7rem 0.5rem; width: 100%;">Je valide</button>

  <button (click)="onReturnLogin($event)" style="padding: 1.7rem 0.5rem; width: 100%;" class="mb-2 d-flex"
    mat-flat-button extended color="accent">
    <mat-icon matIconSuffix
      style="font-weight: bold; font-size: 25px; width: 30px;height: 25px; justify-content: space-between;">arrow_back</mat-icon>
    Page de connection
  </button>

</form>
