.valid-input {
  color: #0079ff !important;
}

.invalid-input {
  color: #ff0060 !important;
}

.invalid-Error-message {
  font-size: small;
  color: #ff0060 !important;
}

.default-input {
  color: #bfbfbf !important;
}
.menu-btn:hover {
  color: #0079ff !important;
}

.transaction-status {
  border-radius: 15px;
  padding: 5px 15px;
}
.transaction-approuved {
  .mat-column-status {
    background-color: #00dfa2;
  }
}
.transaction-rejected,
mat-column-status {
  background-color: #ff0060;
}
.transaction-processing,
mat-column-status {
  background-color: #f6fa70;
}
