.valid-input {
  color: #0079ff !important;
}

.invalid-input {
  color: #ff0060 !important;
}

.invalid-Error-message {
  font-size: small;
  color: #ff0060 !important;
}

.default-input {
  color: #bfbfbf !important;
}
.menu-btn:hover {
  color: #0079ff !important;
}

.thin-color {
  color: #686868;
}

.transaction-status {
  border-radius: 15px;
  padding: 5px 15px;
}
.transaction-approuved {
  background-color: #00dfa2;
}
.transaction-rejected {
  background-color: #ff0060;
}
.transaction-processing {
  background-color: #f6fa70;
}
