<div class="admin-dash">
  <div class="d-flex justify-content-between align-items-center header">
    <div class="title">Transactions</div>
    <form
      class="d-flex justify-content-between align-items-center other-options"
    >
      <mat-form-field class="form-fields account-types" appearance="outline">
        <mat-label>Type de compte</mat-label>
        <mat-select [value]="'Tout'">
          <mat-option>Tout</mat-option>
          <mat-option value="Courant">Courant</mat-option>
          <mat-option value="Epargne">Epargne</mat-option>
          <mat-option value="Bloqué">Bloqué</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-fields account-status" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [value]="'Tout'">
          <mat-option>Tout</mat-option>
          <mat-option value="Accepté">Accepté</mat-option>
          <mat-option value="Traitement">Traitement</mat-option>
          <mat-option value="Rejeté">Rejeté</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        class="form-fields datepicker"
        (click)="picker.open()"
        appearance="outline"
      >
        <mat-label>Calendrier</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          style="cursor: pointer !important"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-fields search-field" appearance="outline">
        <mat-label>Bénéficiaire ou monant</mat-label>
        <input matInput placeholder="Beneficiaire ou montant" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="datasources" class="transaction-table">
    <table
      mat-table
      fixedLayout="true"
      [dataSource]="datasources"
      class="mat-elevation-z0"
    >
      <ng-container matColumnDef="subAccountIban">
        <th mat-header-cell *matHeaderCellDef>Compte</th>
        <td mat-cell *matCellDef="let element">
          {{ element.subAccountIban | slice : 0 : 7 }}******
        </td>
      </ng-container>
      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef>Type de transaction</th>
        <td mat-cell *matCellDef="let element">
          {{ element.transactionType }}
        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Montant</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>
      <ng-container matColumnDef="reciver">
        <th mat-header-cell *matHeaderCellDef>Bénéficiaire</th>
        <td mat-cell *matCellDef="let element">{{ element.reciver }}</td>
      </ng-container>
      <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef>Date de transaction</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createAt | date : "M/d/y" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status" style="margin-right: -100px">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span
            class="{{ element.status | transactionStatusColor }}"
            style="font-size: small"
          >
            {{ element.status }}</span
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="accountReciver">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            [disabled]="element.status !== 'En cours de traitement'"
            mat-icon-button
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              (click)="accepteTransaction(element.id)"
              class="menu-btn-accepte"
              mat-menu-item
              style="color: #00dfa2"
            >
              Accepter
            </button>
            <button
              (click)="rejectTransaction(element.id)"
              class="menu-btn-reject"
              mat-menu-item
              style="color: #ff0060 !important"
            >
              <span> Rejeter</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
        style="background-color: #e6e6e6; border-radius: 30px"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf="datasources?.length == 0" class="not-transaction-yet">
      Aucun utilisateur n'a effectué de transaction pour le moment !
    </div>
  </div>
  <mat-paginator
    *ngIf="!(datasources?.length == 0)"
    #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [disabled]="false"
    [showFirstLastButtons]="false"
    [pageSizeOptions]="pageSizeOptions"
    [hidePageSize]="false"
    [pageIndex]="currentPage"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
