.dashboard {
  overflow: hidden;
  .user-infos {
    width: 25%;
    min-width: 415px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-right: 1px solid #0079ff;
    .user-initial {
      color: white;
      $size: 150px;
      width: $size;
      height: $size;
      background-color: #0079ff38;
      border-radius: 50%;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 60px;
      line-height: 117px;
      margin-top: 30px;
    }
    .username {
      margin: 15px 0 0 0;
      .firstName {
        font-weight: bold;
      }
    }
    .user-edit {
      background-color: #ff00601a;
      color: #ff0060;
      padding: 4px 20px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: smaller;
      &:hover {
        background-color: #ff00622c;
      }
      &:active {
        background-color: #ff00623a;
      }
      .edit-text {
        margin: 0 10px 0 0;
      }
      .pen {
        color: #ff0060;
        margin: 0 -3px 0px 0;
        size: 50;
        order: 1;
      }
    }
    .accounts {
      padding: 0 10px 0 10px;
      .account-block {
        background-color: #0079ff;
        margin: 10px 0;
        padding: 3px 7px;
        border-radius: 5px;
        color: white;
        justify-content: space-between;
        font-size: 0.75rem;
        .account-type {
          font-weight: 600;
        }
        .number,
        .sold {
          font-weight: 800;
        }
        .account-other-infos {
          justify-content: space-evenly;
          .title {
            font-size: 0.6rem;
          }
        }
      }
      .mat-icon {
        width: 28px;
      }
    }

    .view-account-list {
      width: 100%;
      font-weight: 700;
      font-size: 14px;
      padding: 0 10px;
      .accounts-list {
        color: black;
        text-decoration: none;
      }
    }

    .disconnect-btn {
      font-weight: bold;
      font-size: 1.1rem;
      padding: 4px 25px;
      position: absolute;
      bottom: 10px;
    }
  }

  .router-box {
    width: 100%;
    min-height: 100vh;
    overflow-x: auto;
  }
}
