.right-item{
  width: 50%;
  display: flex;
  // justify-content: center;
  flex-direction: column;

  .app-logo{
    width: 50%;
  }

  .sign-up-form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .form-title{
      position:relative;
      left: 0;
    }
  }
}
.valid-input {
  color: #0079FF;
}
.invalid-input{
  color: #eb4848;
}
.default-input{
  color: #7F7F92;
}
