<div class="d-flex sign-up">
  <div class=".d-xs-none .d-md-flex col-6 img-div"
    style="display: flex; align-items: center; justify-content: center; overflow: hidden;">
    <img class=".d-none .d-md-block m-0 p-0 building-img" style="min-height: 100vh; max-height: 100vh;width: 100%; "
      src=" ../../../../../assets/images/gratte-ciel-entreprise-dans-ville-hong-kong.jpg" alt="buildings image">
  </div>
  <div class="col-6 m-0 p-0 right-item">
    <img src="../../../../../assets/images/Group 5.png" class="mt-3 app-logo" alt="App logo"
      style="margin-left: auto; margin-right: auto; width: 180px;">
    <form (ngSubmit)="onSubmit()" class="col-12 mt-4 sign-up-form" #form="ngForm">
      <h5 class="form-title">Création de compte</h5>

      <mat-form-field appearance="outline" class="col-12 mt-2">
        <input matInput id="username" [(ngModel)]="username" name="name" #name="ngModel" required
          pattern="^[a-zA-Z0-9\u00C0-\u017F ]{4,30}$" placeholder="Nom d'utilisateur">
        <mat-icon *ngIf="name.valid" matSuffix class="valid-input">check_circle</mat-icon>
        <mat-icon *ngIf="!name.valid && !name.pristine" matSuffix class="invalid-input">check_circle</mat-icon>
        <mat-icon *ngIf="name.pristine" matSuffix class="default-input">check_circle</mat-icon>
        <!-- <mat-error class=" c-red mat-error">Le nom d'utilisateur doit contennire entre 4 et 30 caractères</mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12">
        <input type="email" matInput id="email" [(ngModel)]="mail" name="email" #email="ngModel" required
          pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" placeholder="Email">
        <mat-icon *ngIf="email.valid" matSuffix class="valid-input">check_circle</mat-icon>
        <mat-icon *ngIf="!email.valid && !email.pristine" matSuffix class="invalid-input">check_circle</mat-icon>
        <mat-icon *ngIf="email.pristine" matSuffix class="default-input">check_circle</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12">
        <input [type]="hide ? 'password' : 'text'" matInput id="password" [(ngModel)]="password" name="pass"
          #pass="ngModel" required pattern="^.{8,50}$" placeholder="Mot de passe">

        <button *ngIf="pass.valid" class="valid-input" mat-icon-button matSuffix (click)="hide = !hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <button *ngIf="!pass.valid && !pass.pristine" class="invalid-input" mat-icon-button matSuffix
          (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <button *ngIf="pass.pristine" class="default-input" mat-icon-button matSuffix (click)="hide = !hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <section class="mb-3 confidential-section" style="margin-top: -23px; margin-left: -5px;">
        <mat-checkbox [(ngModel)]="check" (click)="checkedConfidential" id="checkId" name="checked" #checked="ngModel"
          matInput class="confidential-checkbox">J'accepte les
          politiques
          de
          confidantialité</mat-checkbox>
      </section>

      <button type="submit" [disabled]="!form.form.valid || !check" mat-flat-button color="primary"
        style="padding: 2rem 0.5rem; width: 100%;">Je crée mon compte</button>
    </form>
  </div>

</div>
