<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="col-12 mt-3 sign-up-form">

  <div class="mt-2 mb-2 w-100 text-center invalid-Error-message fs-5 requestErroMessage"> {{requestErroMessage}}</div>

  <h5 class="form-title mb-3">Connexion au compte</h5>

  <div class="emailAlreadyExistError invalid-Error-message text-center w-100">{{emailAlreadyExistError}}
  </div>
  <mat-form-field appearance="outline" class="col-12">
    <input required (input)="onInput()" type="email" matInput id="email" formControlName="email" name="email"
      placeholder="Email">
    <mat-icon matSuffix [ngClass]="changeIconColor('email')">check_circle</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12">
    <input required (input)="onInput()" [type]="hide ? 'password' : 'text'" matInput id="password"
      formControlName="password" name="pass" placeholder="Mot de passe">

    <mat-icon matSuffix (click)="hide = !hide" [ngClass]="changeIconColor('password')">{{hide
      ?
      'visibility_off' : 'visibility'}}
    </mat-icon>
  </mat-form-field>

  <button type="submit" class="mb-2" [disabled]="!loginForm.valid" mat-flat-button color="primary"
    style="padding: 1.7rem 0.5rem; width: 100%;">Je me connecte</button>

  <div class="bottom-links mt-0">
    <a [routerLink]="['/auth/reset-password']" class="mt-0 text-decoration-none"
      style="font-weight: bold; color: black;padding: 0 15px 0 0;">Mot
      de
      passe oublié ?</a>
    <a [routerLink]="['/auth/sign-up']" class="mt-0  text-decoration-none" style="font-weight: bold; color: black;"
      routerLinkActive="router-link-active">Créer un compte</a>
  </div>
</form>
