form {
  max-width: 450px;
  margin: auto;
  .button-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      padding: 1.7rem 0.5rem;
      width: 45%;
      margin: 10px 0 0 0;
    }
  }
}
