<form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" class="col-12 mt-3 sign-up-form">

  <h5 class="form-title mb-3">Récupération de compte</h5>
  <mat-form-field appearance="outline" class="col-12">
    <input required [type]="hide ? 'password' : 'text'" matInput id="password" formControlName="password" name="pass"
      placeholder="Nouveau mot de passe">

    <mat-icon matSuffix (click)="hide = !hide" [ngClass]="changeIconColor('password')">{{hide
      ?
      'visibility_off' : 'visibility'}}
    </mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12">
    <input required [type]="repeatHide ? 'password' : 'text'" matInput id="repeatHide" formControlName="repeatPassword"
      name="pass" placeholder="Confirmer le mot de passe">

    <mat-icon matSuffix (click)="repeatHide = !repeatHide" [ngClass]="changeIconColor('repeatPassword')">{{repeatHide
      ?
      'visibility_off' : 'visibility'}}
    </mat-icon>
  </mat-form-field>

  <button type="submit" class="mb-2"
    [disabled]="!resetPasswordForm.valid || resetPasswordForm.get('password')?.value !== resetPasswordForm.get('repeatPassword')?.value"
    mat-flat-button color="primary" style="padding: 1.7rem 0.5rem; width: 100%;">Je valide</button>

</form>
