<div class="d-flex align-items-center account-block">
  <div class="account-type">
    Compte <span style="font-weight: 900">{{ subAccount.type }}</span>
  </div>
  <div class="d-flex align-items-center account-other-infos">
    <div class="number-title">
      <div class="title">Numéro de compte</div>
      <div class="number" #accountNomber>
        {{ subAccount.iban }}
      </div>
    </div>
    <div class="sold-title" style="margin-left: 10px">
      <div class="title">Solde disponible</div>
      <div class="d-flex justify-content-between align-items-center sold-view">
        <div *ngIf="vieuxSold" class="sold text-center">
          {{ subAccount.balance }} XOF
        </div>
        <div
          *ngIf="!vieuxSold"
          class="d-flex align-items-center text-center pb-2 sold sold-hiden"
        >
          ........
        </div>
        <mat-icon matSuffix (click)="vieuxSold = !vieuxSold"
          >{{ vieuxSold ? "visibility_off" : "visibility" }}
        </mat-icon>
      </div>
    </div>
    <div class="option">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon style="color: white; font-weight: bold">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          *ngIf="subAccount.type !== 'Bloqué'"
          (click)="blockAccount(accountNomber.innerText)"
          mat-menu-item
          class="d-flex menu-btn"
          style="justify-content: space-between"
        >
          Bloquer le compte
          <span></span>
          <mat-icon
            style="order: 1 !important; margin-left: 10px; color: #ff0060"
            >lock</mat-icon
          >
        </button>
        <button
          *ngIf="subAccount.type == 'Bloqué'"
          (click)="deblockAccount(accountNomber.innerText)"
          mat-menu-item
          class="d-flex menu-btn"
          style="justify-content: space-between"
        >
          <span>Debloquer le compte</span>
          <mat-icon
            style="order: 1 !important; margin-left: 10px; color: #00dfa2"
            >lock_open_right</mat-icon
          >
        </button>
      </mat-menu>
    </div>
  </div>
</div>
